@import 'https://fonts.googleapis.com/css?family=Raleway|Open+Sans';
@import url("https://use.typekit.net/uly3jmt.css");
body {
	margin: 0; padding: 0;

	color: white;
	background: #212121;
	font-family: 'Open Sans', sans-serif;
}

#game {
	width: 100%;
	height: 100vh;
	border: none;
	margin: 0; padding: 0;
	overflow: hidden;

	position: relative;
}

button {
	cursor: pointer;
}

/* #region Intro */

.intro {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0; left: 0; right: 0;

	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 150px;
	margin: 0;

	text-shadow: 0 0 20px black;
}

.intro div {
	margin-bottom: 50px;
	margin-top: 10px;
	text-align: center;
}

.intro button, .connection button, .disconnect button {
	background: white;
	padding: 20px 40px;
	margin: 10px;

	font-size: 20px;

	border: none;
	box-shadow: black 0 0 10px 5px;

	transition: box-shadow 0.2s ease-in-out, color 0.5s ease-in-out, background 0.5s ease-in-out;
}

.intro button:hover, .intro button:focus, .connection button:hover, .connection button:focus, .disconnect button:hover, .disconnect button:focus {
	box-shadow: #000088 0 0 10px 5px;
}

.intro button:active, .connection button:active, .disconnect button:active {
	transition: box-shadow 0.1s ease-in-out;
	box-shadow: white 0 0 10px 0;
}

.intro p {
	margin: 10px 0 0 0;
	padding: 0 20px;
	text-align: center;
}

.intro a, .intro a:active {
	color: white;
	text-decoration: underline;
}

.intro a:hover {
	text-decoration: none;
}

.intro a:active {
	text-decoration: underline;
}

.intro footer {
	position: absolute;
	bottom: 20px;
}

.intro footer a {
	color: blue;
    display: inline-block;
    font-family: 'cooper-black-std', serif;
    position: relative;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: blue;
    text-decoration: none;

	font-size: 75px;

	transform: translate(0, 0);
	transition: transform 0.1s ease-in-out;
}

.intro footer a::after {
	content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 5px white;
    left: 0;
    z-index: -2;
    font-size: 1em;

	text-shadow: 0 0 20px black;
}

.intro footer a:hover {
	transform: translate(-1px, -1px);
}

.intro footer a:active {
	transform: translate(1px, 1px);
	text-decoration: none;
}

/* #endregion */

/* #region Connection */

.connection {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0; left: 0; right: 0;

	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transform: scale(1)translateX(-100vw);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.connection h1 {
	font-size: 50px;
	margin: 0;
}

.connection p, .connection input, .connection button, .connection code {
	margin: 20px 0 0 0;
}

.connection p {
	text-align: center;
}

.connection button, .connection input {
	font-size: initial;
	padding: 15px 30px;
}

.connection button:disabled {
	background: black;
	color: white;
	cursor: not-allowed;
	box-shadow: black 0 0 10px 0px;
}

.connection input {
	border: none;
}

.connection .errorCode {
	color: #ff8888;
}

.connection code {
	background: white;
	color: black;
	padding: 20px 30px;
	font-size: 20px;
	font-family: 'Consolas', 'Courier New', monospace;
	border-radius: 30px;
	letter-spacing: 2px;
	display: inline-block;
}

.connection div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.connection section {
	text-align: center;
	width: 400px;
	overflow: hidden;
}

.connection section:first-child {
	margin-right: 70px;
}

.connection h2 {
	font-weight: normal;
}

.connection table {
	width: 100%;
	table-layout: fixed;
}

.connection tr td {
	padding: 10px 0;
	border-bottom: 1px white solid;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow-x: hidden;
}

.connection tr:last-child td {
	border: none;
}

.connection > table {
	width: 400px;
	text-align: center;
}

.connection p code {
	padding: 10px;
}

/* #endregion */

/* #region Setup */

.setupHeader {
	position: fixed;
	height: 150px;
	width: 100%;
	box-shadow: black 0 5px 10px 5px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background: #212121;
	z-index: 2;

	transform: translateY(-100%);
	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.setupHeader p:first-child {
	font-size: 40px;
	margin-right: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: relative;
}

.setupHeader strong {
	font-size: 80px;
	margin: 0 10px;
}

.setupHeader button {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	font-size: 40px;

	transform: scale(0);
	pointer-events: none;
	transition: transform 0.3s ease-in-out;
}

.setupHeader button.active {
	transform:scale(1);
	pointer-events: initial;
}

.setupHeader p:last-child {
	line-height: 40px;

	display: grid;
	grid-template-columns: 1fr 60px;
	grid-template-rows: 40px 40px;

	text-align: right;
}

.setupHeader input, .setupHeader p:last-child span {
	background: none;
	color: white;
	border: none;
	margin-left: 10px;
	font-size: 20px;
	width: 50px;

	text-align: left;
}

.setupHeader input {
	border-bottom: 1px white solid;
}

.setup {
	padding-top: 170px;
	overflow-y: auto;
	height: calc(100% - 170px);

	transform: translateX(-100vw)scale(1);
	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.setup .header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.setup .header h2 {
	width: 200px;
	margin: 20px 100px;
	text-align: center;
}

.setup button, .setup .role {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 20px auto;
	padding: 0;
	font-size: 16px;
	height: 100px;
	width: 200px;
	box-sizing: border-box;

	background: white;
	color: black;
	border: 1px black solid;

	transform: translateX(-100%);
	transition: background 0.2s ease-in-out, transform 1s ease-in-out;
}

.setup .active {
	transform: translateX(100%);
}

.setup button:hover, .setup button:focus {
	background: #dddddd;
}

.setup button:active {
	background: #aaaaaa;
}

/* #endregion */

/* #region Gameplay */

.gameWrap {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 200px 1fr 500px 1fr 200px;
	grid-template-rows: 1fr;
	grid-template-areas: 
		"boardStatus . messageLog . nightStatus"
	;

	position: absolute;
	left: 0; top: 0;

	opacity: 0;
	transform: scale(5);
	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/* #region Message Log */
.messageLog {
	grid-area: messageLog;
	overflow-y: auto;
	scroll-behavior: smooth;

	padding-top: 15px;

	vertical-align: top;
	box-shadow: inset black 0 0 10px 1px;

	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease-in-out;
}

.messageLog section {
	margin: 0 15px 20px 15px;
	padding: 15px;
	box-shadow: 2px 2px 15px 10px black;

	transition: transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transform: scale(0);

	color: black;
	background: white;
}

/* #endregion */

/* #region Selection Box */

.selection {
	overflow: hidden;
}

.selection ul {
	list-style: none;
	margin: 10px; padding: 0;
}

.selection li {
	margin: 7px 0; padding: 0;
}

.selection span {
	display: inline-block;
}

.selection li>span {
	padding: 5px;
	box-shadow: 0 0 2px 2px #880000;
	width: 100%;
	cursor: not-allowed;
}

.selection li input {
	display: none;
}

.selection li label {
	width: 100%;
}

.selection li input+span {
	padding: 5px;
	box-shadow: 0 0 2px 2px black;
	width: 100%;
	cursor: pointer;
}

.selection li input:checked+span {
	background: #6ce9ff;
	box-shadow: 0 0 2px 2px #000088;
	width: 100%;
}

.selection button {
	padding: 10px;
	background: white;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 0 0 2px 2px black;
}

.selection.locked {
	pointer-events: none;
	position: relative;
	cursor: not-allowed;
}

.selection .timeout, .selection .done {
	position: absolute;
	width: 100%;
	height: calc(100% - 20px);
	padding-bottom: 20px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	color: white;
	top: 0; left: 0;
	margin: 0;

	display: flex;
	align-items: end;
	justify-content: center;

	transition: transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transform: translateY(100%);
}

.selection .done {
	background: rgba(0, 64, 0, 0.5);
}

/* #endregion */

/* #region Night Status */
.roleWrap {
	grid-area: nightStatus;

	z-index: 2;

	display: inline-flex;
	flex-direction: column;
	box-shadow: black -1px 0 15px 5px;

	vertical-align: top;
}

.roleWrap div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px black solid;
	background: #212121;
	color: white;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;

	position: relative;
}

.roleWrap.awake div {
	background: white;
	color: black;
}

.roleWrap div:last-child {
	border-bottom: none;
}

.roleWrap div .progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	border: none;

	transform-origin: top center;
	transform: scaleY(0);

	background: rgba(0, 255, 0, 0.2);
}

.roleWrap .done.progress {
	background: rgba(255, 0, 0, 0.2);
}

/* #endregion */

/* #region Board Status */

.boardWrap {
	grid-area: boardStatus;

	display: inline-flex;
	flex-direction: column;
	box-shadow: black 1px 0 15px 5px;

	overflow-y: auto;
}

.boardWrap div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #212121;
	color: #212121;

	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;

	position: relative;
	min-height: 100px;
}

.boardWrap p {
	text-align: center;
	margin: 0;
}

.boardWrap h2 {
	color: white;
	transition: color 0.5s ease-in-out;
	margin: 8% 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow-x: hidden;
	text-align: center;
}

.boardWrap.visible div {
	background: white;
	color:black;
}

.boardWrap.visible h2 {
	color: black;
}

.boardWrap .voteReady {
	position: absolute;
	top: 0;
	right: 0;
}

/* #endregion */

/* #region Daytime */

@font-face {
	font-family: dseg;
	src: url(DSEG7Modern-Bold.ttf);
}

.timer {
	font-family: dseg;
	font-size: 25px;
}

.readyVoteBtn {
	font-size: 20px;
	width: 100%;
	padding: 15px;
}

/* #endregion */

/* #endregion */

/* #region Vote */

.voteWrap {
	margin: 20px auto;
	padding: 20px;
	width: calc(100% - 80px);
	height: calc(100% - 80px);

	max-width: 700px;
	box-shadow: black 0 0 10px 1px;
	background: white;
	color: black;

	position: absolute;
	top: 0; left: 0; right: 0;

	transform: translateX(-100vw);
	transition: transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.voteWrap ul {
	list-style: none;
	margin: 10px; padding: 0;
}

.voteWrap li {
	margin: 7px 0; padding: 0;
	position: relative;
	box-shadow: 0 0 2px 2px black;
}

.voteWrap li > p {
	border: none;
	padding: 20px 0;
	background: white;
	text-align: center;
	margin: 0;
	width: calc(100% - 60px);

	cursor: not-allowed;
	pointer-events: none;
}

.voteWrap li > p span {
	font-style: italic;
}

.voteWrap li .spinner {
	height: 100%;
	width: 60px;
	border-left: 1px black solid;
	position: absolute;
	right: 0; top: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 30px;
}

.voteWrap li button {
	transition: transform 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000), background 0.2s ease-in-out;
	transform: scaleX(1);

	border: none;
	padding: 20px 0;
	background: white;

	font-size: 18px;
	user-select: none;
}

.voteWrap .locked {
	pointer-events: none;
	cursor: not-allowed;
}

.voteWrap li button:hover {
	background: #eeeeee;
}

.voteWrap li button:active {
	background: #aaaaaa;
}

.voteWrap .primaryBtn {
	display: block;
	width: calc(100% - 60px);
	transform-origin: left center;
}

.voteWrap .secondaryBtn {
	position: absolute;
	height: 100%;
	top: 0;
	width: calc(50% - 30px);
	left: 0;
	transform-origin: 200% center;
	box-shadow: inset 0 0 2px 2px #008800;
}

.voteWrap .secondaryBtn:nth-child(3) {
	left: calc(50% - 30px);
	transform-origin: right center;
	box-shadow: inset 0 0 2px 2px #880000;
}

.voteWrap button.hidden {
	transform: scaleX(0);
	pointer-events: none;
}

.voteWrap .done {
	position: absolute;
	height: 100%;
	width: calc(100% - 60px);
	left: 0; top: 0;
	padding: 0; margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(128, 0, 0, 0.5);

	transform: scaleX(0);
	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transform-origin: right center;
}

.voteWrap .done.show {
	transform: scaleX(1);
}

/* #endregion */

/* #region Results */

.results {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;

	position: absolute;
	top: 0; left: 0; right: 0;

	transform: translateX(-100vw)scale(1);
	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.results section {
	box-shadow: black 0 0 10px 1px;
	background: white;
	color: black;
	padding: 20px;
	margin: 30px auto;
	max-width: 700px;
	
	transition: transform 1s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transform: scale(0);
}

.results section:first-child {
	transform: scale(1);
}

.results .hidden {
	transform: scale(0);
	transition: transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.results .shown {
	transform: scale(1) !important;
}

.results h1 {
	font-size: 50px;
	margin: 0;
}

.results h2 {
	margin: 0;
	font-weight: normal;
}

.results .finalRole p {
	font-size: 300%;
	margin: 10px 0 0 0;
}

.results table {
	border-collapse: collapse;
	width: 100%;
}

.results td {
	border-bottom: 1px black solid;
	padding: 10px 0;
}

.results td:first-child {
	text-align: center;
	font-size: 200%;
	width: 60px;
	padding-right: 20px;
}

.results td > p {
	margin: 0;
}

.results td > p:last-child {
	font-size: 75%;

	transition: max-height 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
	max-height: 0;
	overflow-y: hidden;
}

.results tr:last-child td {
	border: none;
}

.results .winTeams p {
	font-size: 300%;
	margin: 10px 0 0 0;
}

.results .verdict h2 {
	font-size: 100px;
	font-weight: bold;
	margin: 0;
}

.results button {
	width: 100%;
	font-size: 200%;
	padding: 20px 0;
	border: 1px black solid;
	background: white;

	transition: background 0.2s ease-in-out;
}

.results button:hover {
	background: #eeeeee;
}

.results button:active {
	background: #aaaaaa;
}

/* #endregion */

.disconnect {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	z-index: 3;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: rgba(0, 0, 0, 0.8);
	color: white;

	transition: transform 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transform: translateX(-100vw);

	font-size: 125%;
}

@media(max-width: 920px) {
	
	.gameWrap {
		display: grid;
		grid-template-columns: 200px minmax(0, 1fr) 200px;
		grid-template-rows: 1fr;
		grid-template-areas: 
			"boardStatus messageLog nightStatus"
		;
	}

	.connection div {
		flex-direction: column;
		margin-bottom: 30px;
	}

	.connection section:first-child {
		margin-right: 0;
	}

	.messageLog {
		background: #212121 !important;
	}

}

@media(max-width: 720px) {
	
	.setup button, .setup .role {
		transform: translateX(-50%);
	}

	.setup .active {
		transform: translateX(50%);
	}

	.setup .header h2 {
		margin: 20px 0;
	}

	.setupHeader {
		height: 200px;
		flex-direction: column;
	}

	.setupHeader p:first-child {
		font-size: 30px;
		margin: 10px 0;
	}

	.setupHeader strong {
		font-size: 50px;
	}

	.setupHeader p:last-child {
		margin: 10px 0;
	}

	.setup {
		padding-top: 220px;
		overflow-y: auto;
		height: calc(100% - 220px);
	}

}

@media(max-width: 650px) {
	.gameWrap {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-areas: 
			"messageLog messageLog"
			"boardStatus nightStatus"
		;
	}

	.boardWrap {
		border: none;
		box-shadow: none;
		border-top: 1px black solid;
	}

	.roleWrap {
		box-shadow: none;
		border-top: 1px black solid;
		border-left: 1px black solid;
	}
}

@media(max-width: 500px) {
	.intro h1 {
		font-size: 30vw;
	}
	.intro div button {
		font-size: 4vw;
	}
}
