#game {
	font-family: sans-serif;
	width: 100%;

	height: calc(100vh - 200px);
	border: 1px black solid;
}

.classSelect {
	display: inline-block;
	padding: 5px;
	margin: 0;
	border: 1px black solid;
	font-size: 16px;
}

button {
	cursor: pointer;
}

/* #region Gameplay */

.gameWrap {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 200px 1fr 500px 1fr 200px;
	grid-template-rows: 1fr;
	grid-template-areas: 
		"boardStatus . messageLog . nightStatus"
	;
}

/* #region Message Log */
.messageLog {
	grid-area: messageLog;
	overflow-y: auto;
	scroll-behavior: smooth;

	padding-top: 15px;

	vertical-align: top;
	box-shadow: inset black 0 0 10px 1px;
}

.messageLog section {
	margin: 0 15px 20px 15px;
	padding: 15px;
	box-shadow: 2px 2px 15px 10px black;

	transition: transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transform: scale(0);
}

/* #endregion */

/* #region Selection Box */

.selection {
	overflow: hidden;
}

.selection ul {
	list-style: none;
	margin: 10px; padding: 0;
}

.selection li {
	margin: 7px 0; padding: 0;
}

.selection span {
	display: inline-block;
}

.selection li>span {
	padding: 5px;
	box-shadow: 0 0 2px 2px #880000;
	width: 100%;
	cursor: not-allowed;
}

.selection li input {
	display: none;
}

.selection li label {
	width: 100%;
}

.selection li input+span {
	padding: 5px;
	box-shadow: 0 0 2px 2px black;
	width: 100%;
	cursor: pointer;
}

.selection li input:checked+span {
	background: #6ce9ff;
	box-shadow: 0 0 2px 2px #000088;
	width: 100%;
}

.selection button {
	padding: 10px;
	background: white;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 0 0 2px 2px black;
}

.selection.locked {
	pointer-events: none;
	position: relative;
	cursor: not-allowed;
}

.selection .timeout, .selection .done {
	position: absolute;
	width: 100%;
	height: calc(100% - 20px);
	padding-bottom: 20px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	color: white;
	top: 0; left: 0;
	margin: 0;

	display: flex;
	align-items: end;
	justify-content: center;

	transition: transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transform: translateY(100%);
}

.selection .done {
	background: rgba(0, 64, 0, 0.5);
}

/* #endregion */

/* #region Night Status */
.roleWrap {
	grid-area: nightStatus;

	z-index: 2;

	display: inline-flex;
	flex-direction: column;

	vertical-align: top;
}

.roleWrap div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px black solid;
	border-bottom: 1px black solid;
	background: white;

	position: relative;
}

.roleWrap div:last-child {
	border-bottom: none;
}

.roleWrap div .progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	border: none;

	transform-origin: top center;
	transform: scaleY(0);

	background: rgba(0, 255, 0, 0.2);
}

.roleWrap .done.progress {
	background: rgba(255, 0, 0, 0.2);
}

/* #endregion */

/* #region Board Status */

.boardWrap {
	grid-area: boardStatus;

	display: inline-flex;
	flex-direction: column;
}

.boardWrap div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	color: black;

	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;

	position: relative;
}

.boardWrap p {
	text-align: center;
	margin: 0;
}

.boardWrap h2 {
	color: white;
	transition: color 0.5s ease-in-out;
	margin: 5px 0;
}

.boardWrap.visible div {
	background: white;
}

.boardWrap.visible h2 {
	color: black;
}

/* #endregion */

/* #region Daytime */

@font-face {
	font-family: dseg;
	src: url(DSEG7Modern-Bold.ttf);
}

.timer {
	font-family: dseg;
	font-size: 25px;
}

.readyVoteBtn {
	font-size: 20px;
	width: 100%;
	padding: 15px;
}

/* #endregion */

/* #endregion */

@media(max-width: 920px) {
	
	.gameWrap {
		display: grid;
		grid-template-columns: 200px 1fr 200px;
		grid-template-rows: 1fr;
		grid-template-areas: 
			"boardStatus messageLog nightStatus"
		;
	}

}

@media(max-width: 650px) {
	.gameWrap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 3fr 2fr;
		grid-template-areas: 
			"messageLog messageLog"
			"boardStatus nightStatus"
		;
	}
}
